NEXT_PUBLIC_MARKETING_URL=https://www.devya.dev
NEXT_PUBLIC_BOOKING_URL=https://booking.devya-solutions.com
NEXT_PUBLIC_CONTRACTS_URL=https://contracts.devya-solutions.com
NEXT_PUBLIC_PORTFOLIO_URL=https://portfolio.devya-solutions.com
NEXT_PUBLIC_ADMIN_URL=https://admin.devya-solutions.com
